@media(max-width: 768px){
    .header{
        flex-direction: column;
        text-align: center;
    }

    .bio-container .holding{
        display: flex;
        flex-direction: column;
    }

    .bio-container .holding .simple-bio{
        
    }

    #profile{
        width: 40vh;
        height: 40vh;
    }
}